table {
    border: 2px solid rgb(24, 6, 109);
    width: 650px;
    margin: 0 auto;
}

th,
td {
    border: 1px solid rgb(24, 6, 109);
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    color: #000;
}

th {
    background-color: #DEB887;
    color: #708090;
    font-weight: bold;
    font-size: 18px;
}

td {
    background-color: #F5F5DC;
}

td:hover {
    background-color: yellow;
}

th:hover {
    background-color: yellowgreen;
}

.name {
    padding: 0 30px;
}

.format {
    padding: justify;
}

.Description {
    padding: 0 200px;
}

h1 {
    text-align: center;
    font-family: monospace;
    color: #a0522d;
}

body {
    background-color: #F5FFFA;
}